<div class="outer-shell">

    <mat-toolbar class="blue">
        <span>{{title}}</span>
    </mat-toolbar>

    <div class="container">

        <form [formGroup]="firstForm" (ngSubmit)="onSubmit(firstForm)">
            <formly-form [model]="model" [fields]="fields" [form]="firstForm"></formly-form>
            <div class="button-row">
                <button mat-raised-button color="primary">Submit</button>
                <button mat-raised-button color="primary" type="reset">Reset</button>
            </div>
        </form>
        <br>
        <div class="result">
            Output
            <ul>
                <li>
                    <h1>Form Value</h1>
                    <pre>{{firstForm.value | json}}</pre>
                </li>
                <li>
                    <h1>Model</h1>
                    <pre>{{model | json}}</pre>
                </li>
                <li>
                    <h1>Valid</h1>
                    <pre>{{firstForm.valid | json}}</pre>
                </li>
            </ul>
        </div>
    </div>

</div>